    .row{
        margin-left: 5px;
        margin-right: 25px;
    }

    .msg_client {

        margin-top: 10px;
    
        width: auto;
    
        margin-right: 20px;
    
        min-height: 20px;
    
        padding: 15px;
    
        background: #ffff99;
    
        margin-left: 20px;
    
        position: relative;
    
        border-radius: 5px;
    
        color: black;
    
        }

        .btn {
            width: 80px;
            bottom: 10;
            background: green;
            padding: 5px 20px;
        }

        